extends ../layouts/common

block content
  h1 
    span.mr-3 Users
    a.btn.btn-primary(href="/users/create", class="users-button") New


  .d-flex
    form.ml-auto(action="/users/search", method="get", class="d-flex")
      input(type="search", name="q", value=q, class="form-control")
      button(class="btn btn-primary") Search
    
  table.table
    tr
      th Avatar
      th Name
      th Gender
      th Age
      th Actions     
    each user in users
      tr
        td
          img(class="img-user--avatar",src=user.avatar)
        td= user.name
        td= user.gender
        td= user.age
        td
          a.btn.btn-light(href="/users/" + user.id) View
        